<?xml version="1.0" encoding="UTF-8" ?>
<config>
    <rules>
        <provider id="directory">
            <parameter id="directory">./rules</parameter>
        </provider>
        <rule id="text_universal" extractor="gofetch.article.extractor" priority="0">
            <url>.*</url>
        </rule>
        <rule id="imgur" extractor="gofetch.selector.extractor" priority="1">
            <url>http://imgur.com/[a-zA-Z0-9]+</url>
            <values>
                <value name="meta">
                    <value name="test" value="test" />
                </value>
                <value name="type" value="image" />
                <value name="src">
                    <parameter id="selector">#image img</parameter>
                    <parameter id="attribute">src</parameter>
                </value>
            </values>
        </rule>
    </rules>
</config>
